body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

#inputStyle {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
}

#imgContainer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}